<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design your own Template</title>
    <link href="template.css" rel="stylesheet" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
  </head>
  <body>
  
    <h1 class="heading">Design your own Templates</h1>
      <p class="para">-->Quick,Easy And Fancy Templates Provided By <b>DDPYR</b></p>
   
    <div class="container-1">
      <div class="row">
        <div class="head">portfolio</div>
        <div class="col">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                  <img src="tasveer-1/bg.jpg" class="card-img-top" alt="...">
                  <div class="card-shadow">
                    <a href="#" class="btn btn-primary">Demo</a>
                    <a href="#" class="btn btn-success">Apply</a>
                  </div>
              </div>
          </div>
          
         </div>
       <div class="col">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
                <img src="tasveer-1/bg.jpg" class="card-img-top" alt="...">
                <div class="card-shadow">
                  <a href="#" class="btn btn-primary">Demo</a>
                  <a href="#" class="btn btn-success">Apply</a>
                </div>
            </div>
        </div>
       </div>
   <div class="col">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                  <img src="tasveer-1/bg.jpg" class="card-img-top" alt="...">
                  <div class="card-shadow">
                    <a href="#" class="btn btn-primary">Demo</a>
                    <a href="#" class="btn btn-success">Apply</a>
                  </div>
              </div>
          </div>
          
         </div>
         <div class="col">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                  <img src="tasveer-1/bg.jpg" class="card-img-top" alt="...">
                  <div class="card-shadow">
                    <a href="#" class="btn btn-primary">Demo</a>
                    <a href="#" class="btn btn-success">Apply</a>
                  </div>
              </div>
          </div>
          
         </div>
         <div class="col">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                  <img src="tasveer-1/bg.jpg" class="card-img-top" alt="...">
                  <div class="card-shadow">
                    <a href="#" class="btn btn-primary">Demo</a>
                    <a href="#" class="btn btn-success">Apply</a>
                  </div>
              </div>
          </div>
          
         </div>
         <div class="col">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                    <img src="tasveer-1/bg.jpg" class="card-img-top" alt="...">
                    <div class="card-shadow">
                      <a href="#" class="btn btn-primary">Demo</a>
                      <a href="#" class="btn btn-success">Apply</a>
                    </div>
                </div>
            </div>
            </div>
   </div>
      </div>
   
          </div>       
      <div class="container-2">
        <div class="row">
          <div class="head">wallpaper</div>
         <div class="col">
          
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                  <img src="tasveer-1/wall[aper-1.jpg" class="card-img-top" alt="...">
                  <div class="card-shadow">
                    <a href="#" class="btn btn-primary">Demo</a>
                    <a href="#" class="btn btn-success">Apply</a>
                  </div>
              </div>
          </div>
          </div>
          <div class="col">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                    <img src="tasveer-1/wallpaper-2.jpg" class="card-img-top" alt="...">
                    <div class="card-shadow">
                      <a href="#" class="btn btn-primary">Demo</a>
                      <a href="#" class="btn btn-success">Apply</a>
                    </div>
                </div>
            </div>
            </div>
          <div class="col">
          
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                    <img src="tasveer-1/wall[aper-1.jpg" class="card-img-top" alt="...">
                    <div class="card-shadow">
                      <a href="#" class="btn btn-primary">Demo</a>
                      <a href="#" class="btn btn-success">Apply</a>
                    </div>
                </div>
            </div>
            </div>
          <div class="col">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                    <img src="tasveer-1/wallpaper-2.jpg" class="card-img-top" alt="...">
                    <div class="card-shadow">
                      <a href="#" class="btn btn-primary">Demo</a>
                      <a href="#" class="btn btn-success">Apply</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="col">
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                      <img src="tasveer-1/wallpaper-3.jpg" class="card-img-top" alt="...">
                      <div class="card-shadow">
                        <a href="#" class="btn btn-primary">Demo</a>
                        <a href="#" class="btn btn-success">Apply</a>
                      </div>
                  </div>
              </div>
              </div>
              <div class="col">
          
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                        <img src="tasveer-1/wall[aper-1.jpg" class="card-img-top" alt="...">
                        <div class="card-shadow">
                          <a href="#" class="btn btn-primary">Demo</a>
                          <a href="#" class="btn btn-success">Apply</a>
                        </div>
                    </div>
                </div>
                </div>
     
        </div>
      
      
        </div>
            </div>
    <div class="container-3">
      <div class="row">
        <div class="head">thumbnail</div>
       <div class="col">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
                <img src="tasveer-1/yt-2.jpg" class="card-img-top" alt="...">
                <div class="card-shadow">
                  <a href="#" class="btn btn-primary">Demo</a>
                  <a href="#" class="btn btn-success">Apply</a>
                </div>
            </div>
        </div>
        </div>
        <div class="col">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                  <img src="tasveer-1/yt1.jpg" class="card-img-top" alt="...">
                  <div class="card-shadow">
                    <a href="#" class="btn btn-primary">Demo</a>
                    <a href="#" class="btn btn-success">Apply</a>
                  </div>
              </div>
          </div>
          </div>
        <div class="col">
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                  <img src="tasveer-1/yt-3.jpg" class="card-img-top" alt="...">
                  <div class="card-shadow">
                    <a href="#" class="btn btn-primary">Demo</a>
                    <a href="#" class="btn btn-success">Apply</a>
                  </div>
              </div>
          </div>
          </div>
          <div class="col">
            <div class="col-md-4">
              <div class="card" style="width: 18rem;">
                    <img src="tasveer-1/yt1.jpg" class="card-img-top" alt="...">
                    <div class="card-shadow">
                      <a href="#" class="btn btn-primary">Demo</a>
                      <a href="#" class="btn btn-success">Apply</a>
                    </div>
                </div>
            </div>
            </div>
            <div class="col">
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                      <img src="tasveer-1/yt-2.jpg" class="card-img-top" alt="...">
                      <div class="card-shadow">
                        <a href="#" class="btn btn-primary">Demo</a>
                        <a href="#" class="btn btn-success">Apply</a>
                      </div>
                  </div>
              </div>
              </div>
              <div class="col">
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                        <img src="tasveer-1/yt-2.jpg" class="card-img-top" alt="...">
                        <div class="card-shadow">
                          <a href="#" class="btn btn-primary">Demo</a>
                          <a href="#" class="btn btn-success">Apply</a>
                        </div>
                    </div>
                </div>
                </div>
      </div>
          </div>
          <div class="container-4">
            <div class="row">
              <div class="head">instagram-coverpage</div>
              <div class="col">
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                        <img src="tasveer-1/cover-2.png" class="card-img-top" alt="...">
                        <div class="card-shadow">
                          <a href="#" class="btn btn-primary">Demo</a>
                          <a href="#" class="btn btn-success">Apply</a>
                        </div>
                    </div>
                </div>
                </div>
             <div class="col">
              <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                      <img src="tasveer-1/cover-1.jpg" class="card-img-top" alt="...">
                      <div class="card-shadow">
                        <a href="#" class="btn btn-primary">Demo</a>
                        <a href="#" class="btn btn-success">Apply</a>
                      </div>
                  </div>
              </div>
              </div>
              <div class="col">
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                        <img src="tasveer-1/cover-2.png" class="card-img-top" alt="...">
                        <div class="card-shadow">
                          <a href="#" class="btn btn-primary">Demo</a>
                          <a href="#" class="btn btn-success">Apply</a>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col">
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                        <img src="tasveer-1/cover-3.jpg" class="card-img-top" alt="...">
                        <div class="card-shadow">
                          <a href="#" class="btn btn-primary">Demo</a>
                          <a href="#" class="btn btn-success">Apply</a>
                        </div>
                    </div>
              </div>
                </div>
                <div class="col">
                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                          <img src="tasveer-1/cover-1.jpg" class="card-img-top" alt="...">
                          <div class="card-shadow">
                            <a href="#" class="btn btn-primary">Demo</a>
                            <a href="#" class="btn btn-success">Apply</a>
                          </div>
                      </div>
                  </div>
                  </div>
                <div class="col">
                  <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                          <img src="tasveer-1/cover-2.png" class="card-img-top" alt="...">
                          <div class="card-shadow">
                            <a href="#" class="btn btn-primary">Demo</a>
                            <a href="#" class="btn btn-success">Apply</a>
                          </div>
                      </div>
                  </div>
                  </div>
         
            </div>
            </div>
            
            
        
 


  </body>
</html>
